@charset "UTF-8";

/* header */
header {
    height: 150px;
    margin: 0 auto;
}

#logo {
    width: 450px;
    height: 37px;
    margin-top: 38px;
    float: left;
}

#logo img {
    width: 100%;
}

/* logo라는 id를 가진 div가 width: 450px; height: 37px인데, 이미지의 크기가 그 이상이면 뚫고 나와버리므로
img에 width: 100% 속성을 넣어줘서 width 값을 div에 맞추게끔 해주면 된다. */

nav {
    width: 637px;
    height: 106px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

/* 106*6=636으로 하니 브라우저를 확대하거나 축소할 때 마지막 li가 아래로 내려가는 현상 발생.
636+1 해주니 그러한 현상이 사라짐. 길이를 너무 타이트하게 설정해도 좋지 않다. */

nav li {
    float: left;
}

/* footer */
footer {
    text-align: center;
    color: #323232;
}

footer img:first-of-type {
    width: 100%;
    vertical-align: bottom;
}

/* 

vertical-align 수직 정렬
text-align 수평 정렬 

*/

#foot_nav {
    background-color: #fff;
}

#foot_nav img {
    width: 200px;
    margin: 30px 0 10px 0;
}

footer ul {
    padding: 12px 0 20px 0;
}

footer ul li {
    display: inline-block;
    margin: 10px;
}

footer a {
    color: #323232;
}

h5 {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    color: #bbbbbb;
    padding: 80px 0 50px 10px;
}