@charset "UTF-8";

/* slider */
#slider {
    height: 720px;
    margin: 0 auto;
}

/* section */
section {
    height: 5100px;
    margin: 0 auto;
    font-size: larger;
    color: #323232
}

article:not(:first-of-type) {
    margin-left: 80px;
}

/* div article이라고 써주지 않아도 각각의 article 형제자매 중에 첫째를 제외하고 적용됨 */

article {
    width: 260px;
    height: 415px;
    background-color: white;
    border: 1px solid lightgray;
    float: left;
    margin-top: 70px;
}

#section1,
#section2 {
    height: 643px;
}

#banner1 img {
    width: 100%;
    padding-top: 130px;
    vertical-align: bottom;
}

#banner2 img {
    width: 100%;
    padding-top: 80px;
    vertical-align: bottom;
}

#section3 {
    overflow: hidden;
}

/* overflow: hidden; 쓰지 않으면 자동으로 section3의 height:auto;
float으로 뜨지 않은 것만 section3의 영역으로 인식되어 height 값이 정해진다.  */

/* 왜 overflow: hidden; 쓰면 float으로 떠있는 article까지 section3의 영역으로 잡히는지?

1. section3의 영역을 확보해주기 위해 overflow:hidden 써준 것임.
2. (이제 section3가 article의 영역을 감싸주게 됨.)
3. 위에 떠있는 article까지 영역을 잡게 됨.
4. overflow:hidden를 못쓰는 경우 높이를 주면 됨. (article이 없어진 공간만큼 강제로 높이를 확보해주게 됨.) */

h2 {
    text-align: center;
    padding-top: 90px
}

/* div 안에서 제일 위에 있는 tag에 margin 속성을 적용시키면 그 margin이 div 밖으로 나간다.
따라서 margin 대신 padding를 써줘야 한다. */

#instagram {
    width: 1280px;
    text-align: center;
}

#media {
    margin: 70px 0 0 0;
}

.post {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

article {
    position: relative;
}

p:nth-child(2) {
    margin: 0 10px;
    font-size: 18px;
}

p:last-child {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: gray;
    font-size: smaller;
}

.align p:first-of-type {
    letter-spacing: -2px;
    word-spacing: -1px;
}

article {
    cursor: pointer;
}

article:hover {
    opacity: 0.8;
}